@charset "UTF-8";
/*
Em HTML é id, e em CSS é #
Em HTML é class, em CSS é .
*/
body{
    background-color: rgb(122, 233, 196);
}
h1{
    color: rgb(11, 134, 27);
}
h1#principal {
    text-align: center;
    background-color: rgb(11, 134, 27);
    color: white;
}
h2{
    color:rgb(4, 48, 7);
}

.basico{
    color:rgb(1, 56, 18);
}

.intermediario{
    color:rgb(119, 121, 25);
}

.avançado{
    color: rgb(136, 50, 50);
}